<!-- 
** HEADER COMPONENT
* This will contain common header throughout the application
* Here we will try to keep stucture well managed so maximum activities
  will be performed at parent component.
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="common-styles.html">

<dom-module id="common-header">
    <template>
        <!-- #1. SECTION-1: STYLES -->
        <style include="common-styles">
            :host{
                width: 100%;
                height: 100px;
                display:flex;
                display: -webkit-flex;
                flex-direction: column;
                -ms-flex-direction: row;
                background-color: #ffffff;
                box-shadow: 0px 1px 20px 3px #b1b1b1;
            }
            .h-container {
                width: 100%;                
                display: flex;
                display: -webkit-flex;
                flex-direction: row;
                -ms-flex-direction: row;
                background-color: #ffffff;
                border-bottom: 1px solid #b1b1b1;
                z-index:999999
            }
            .logo-wrapper {
                display: flex;
                display: -webkit-flex;
                margin-left: 8.33%;
                width: 16.66%;
                align-items: center;
            }
            .logo-wrapper img {
                flex-shrink: 1;
            }
            .menu-wrapper {
                display: flex;
                display: -webkit-flex;
                width: 49.98%;
            }
            .menu-wrapper span {
                flex: 1 1;
                display: flex;
                display: -webkit-flex;
                justify-content: center;
                align-items: center;
            }

            .logout-wrapper {
                display: flex;
                display: -webkit-flex;
                width: 8.33%;
                margin-left: 16.66%;
                justify-content: center;
                align-items: center;
            }
            .logo-wrapper button {
                flex: 1 1;
                display: flex;
                display: -webkit-flex;
                width: 90%;   
            }
        </style>

        <!-- #2. SECTION-2: TEMPLATE -->
        <div class="h-container height100">
            
            <div class="logo-wrapper">
                <img src="src/images/ing-logo-sm-88x270-mobile.png" alt="Logo-ING" height="60px" />
            </div>

            <div class="menu-wrapper">
                <template is="dom-if" if="{{isLoggedIn}}">
                    <template is="dom-repeat" items={{menu}}>
                        <span><a class$="secondaryLinkButton [[item.class]]" href="{{_generateURL(rootPath,item.slug)}}">[[item.display]]</a></span>
                    </template>
                </template>
            </div>

            <div class="logout-wrapper">
                <template is="dom-if" if="{{isLoggedIn}}">
                    <button on-click="_logout" class="primaryButton">Logout</button>
                </template>
            </div>

        </div>

        <app-location route="{{route}}"></app-location>
    </template>

    <script>
        // #3. SECTION-3: JS-CONTROLLER-MODEL
        class CommonHeader extends Polymer.Element {
            static get is(){
                return "common-header";
            }

            static get properties(){
                return {
                    isLoggedIn  : {
                        type        : Boolean,
                        notify      : true
                    },
                    menu        : {
                        type        : Array
                    },
                    rootPath    : {
                        type        : String
                    },
                    selected    : {
                        type        : String
                    },
                    logout      : {
                        type        : Object
                    },
                    route       : {
                        type        : Object
                    }
                }
            }

            static get observers() {
                return [
                '_routeChanged(route.path)'
                ];
            }

            _routeChanged(path){
                let page = path.substring(1);
                
                this.menu.forEach((item, index)=>{
                    if(page === item.slug){
                        item.class = 'secondaryLinkButtonActive';
                    }
                    else{
                        item.class = 'secondaryLinkButtonInactive';
                    }
                    //console.log(this.menu);
                    this.notifyPath(`menu.${index}.class`);
                });
            }

            _generateURL(rootPath, slug) {
                return `${rootPath}${slug}`;
            }

            _logout(){
                this.logout();
            }
            
        }
        customElements.define(CommonHeader.is,CommonHeader);
    </script>
</dom-module>