<!-- 
** PAYMENT COMPONENT
* This will be a component to make payment through debit or credit type.
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../components/sub-header.html">
<script src="../../bower_components/web-animations-js/web-animations.min.js"></script>
<link rel="import" href="common-styles.html">
<dom-module id="make-payment">
    <template>
        <style include="common-styles">
                paper-dropdown-menu{
                    width:100%;  
                } 

                .customWidth{
                    width:18.68em
                } 

               .customWidth paper-item:hover{
                    background-color:#dbdbdb;
                }                        

                .paper-button{
                    margin-top: 1.25em
                }
        
        </style>
        <sub-header></sub-header>
        <div class="container fntFamily boxShadow whiteBckgrnd">
            <h2 class="heading">Make Payment</h2>
            <hr>

            <!-- localstorage compoment to store the transaction details -->
            <!-- <iron-localstorage name="transactionDetails" value="{{transactionDetails}}" on-iron-localstorage-load="initializeStorage"></iron-localstorage> -->

            <!-- Ajax component to make a post request to payment API -->
            <iron-ajax id="transaction" method="post" content-type="application/json" handle-as="json" on-response="_handleResponse" loading="{{loading}}"></iron-ajax>

            
            <iron-form id="myForm">
                <form>
                    <!-- Dropdown component  -->
                    <div>
                        <h4 class="label">Select transaction type</h4>
                        <paper-dropdown-menu allow-outside-scroll="true" id="type" class="customWidth" no-label-float>
                            <paper-listbox slot="dropdown-content" attr-for-selected="value" class="dropdown-content customWidth" selected="{{selectedType}}" on-tap="_removeInvalid">
                                <template is="dom-repeat" items="[[transactionType]]">
                                    <paper-item value$="[[item.type]]">[[item.type]]</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                    </div>

                    <div>
                        <h4 class="label">Enter amount</h4>
                        <paper-input on-keyup="_clearError" allowed-pattern="[0-9]" pattern="[0-9]" minlength="1" maxlength="6" no-label-float id="amount"  error-message="{{amountError}}" value="{{amount}}" on-change="_removeInvalid">
                        <div slot="prefix">$ &nbsp</div>
                        </paper-input>
                    </div>

                    <div>
                        <h4 class="label">Enter description</h4>
                        <paper-input id="description"  no-label-float error-message="{{amountError}}" value="{{description}}"  on-change="_removeInvalid">
                        <div></div>
                        </paper-input>
                    </div>

                    <app-location route="{{route}}"></app-location>
                    <paper-spinner-lite active="[[loading]]"></paper-spinner-lite>
                    <paper-button disabled="[[isInputEmpty(amount)]]" class="btnPrl" on-click="_makeTransaction">
                        Make Payment
                    </paper-button>
                    <paper-toast id="toast" text="{{msg}}"></paper-toast>
                </form>
        </iron-form>
        </div>
    </template>
    <script>
    class makePayment extends Polymer.Element {
        static get is() { return 'make-payment' }
        static get properties() {
            return {
                transactionType: {
                    type: Array,
                    value: [{
                        type: 'DEBIT',
                        value: 0
                    }, {
                        type: 'CREDIT',
                        value: 1,
                    }]
                },
                apiUrl : {
                    type    : String
                },
                loading: {
                    type: Boolean,
                    value: false,
                    notify: true
                },
                description: {
                    type: String,
                    value: ''
                },
                selectedType: {
                    type: String,
                    value: 'DEBIT' //Set debit as default
                },
                transactionDetails: {
                    type: Object,
                    value: {}
                },
                msg: {
                    type: String,
                    value: "Successfully logged in"
                },
                activated: {
                    type: Boolean,
                    observer: '_activationChanged'
                }
            }
        }
        
        _activationChanged(newVal, oldVal){
            console.log('values::', newVal, oldVal);
            this.$.amount.invalid = false;
            if(newVal){
                console.log('newVal', newVal);
                this.amount = '';
                this.selectedType = 'DEBIT';
                this.description = ''; 
            }
        }

        //Initialize localstorage
        initializeStorage() {
            this.transactionDetails = {};
        }

        _clearError() {
            this.$.amount.invalid = false; //remove error message
        }

         _removeInvalid(){
           console.log('remove invalid');
            // FUNCTION: This function will take care, if we have inputs in invalid state
            // We need to remove that state when user changes the value
            this.$.amount.invalid = false;
        }

        _makeTransaction() {
           localStorage.removeItem('transactionDetails');
            var amount = this.amount
            var paymentType = this.selectedType
            var description = this.description
            var ajax = this.$.transaction;
            let custId = JSON.parse(sessionStorage.user).customerId;
            ajax.url = 'http://localhost:8080/user/'+custId+'/makepayment';
            ajax.body = JSON.stringify({
                "customerId": custId,
                "amount": amount,
                "paymentType": paymentType,
                "description": description
            });
            ajax.generateRequest(); // triggers the iron-ajax
        }

        isInputEmpty(amount) {
            if (amount<= 0) return true;
            return false;
        }

        _handleResponse(response) {
            var data = response.detail.__data.response;
            //spot data
            if (data.status) {
                //this.transactionDetails = data.data
				localStorage.setItem('transactionDetails',JSON.stringify(data.data))
                //Take care of routing
                 this.set("route.path", "/status");
           window.location.hash="no-back-button";
           window.location.hash="Again-No-back-button";
           window.onhashchange=function(){window.location.hash="no-back-button";}
            } else {
                //Set error message
                this.amountError = data.errors[0].errorMessage
                this.$.amount.invalid = true; //show message error

            }
        }
    }
    window.customElements.define(makePayment.is, makePayment);
    </script>
</dom-module>