<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sorter.html">

<link rel="import" href="shared-styles.html">
<link rel="import" href="common-styles.html">
<link rel="import" href="bar-chart-component.html">
<link rel="import" href="no-data-found.html">
<link rel="import" href="sub-header.html">


<dom-module id="payment-analyser">
    <template>
        <style include="common-styles">                  
            .amcharts-chart-div a{
                display: none !important;
            }
                     
        </style>
        <style include="shared-styles">
         
        </style>
        <iron-ajax id="analyser" handle-as="json" last-response="{{activities.data}}" on-response="_handleResponse"></iron-ajax>
       <sub-header></sub-header>
        <div class="container fntFamily">
            <h2 class="centerText"> Account Activity Analysis </h2>

            <template is="dom-if" if="{{!dataAvailable}}">
                <no-data-found></no-data-found>
            </template>
            <template is="dom-if" if="{{dataAvailable}}">
                <vaadin-grid id="analyser_grid" theme="row-dividers" items="[[transactions]]" page-size="10" height-by-rows>
                    <vaadin-grid-column items="[[transactions]]" id="border">
                        <template class="header"><strong>#</strong></template>
                        <template>
                            <div class="vaadinCol">[[displayIndex(index)]]</div>
                        </template>
                    </vaadin-grid-column>
                    <vaadin-grid-column>
                        <template class="header"><strong>Month</strong></template>
                        <template>[[item.month]]</template>
                    </vaadin-grid-column>
    
                    <vaadin-grid-column>
                        <template class="header"><strong>Closing Balance</strong></template>
                        <template>[[addCurrency(item.closingBalance)]]</template>
                    </vaadin-grid-column>
            
                    <vaadin-grid-column>
                        <template class="header"><strong>Debit</strong></template>
                        <template>[[addCurrency(item.totalOutgoing)]]</template>
                    </vaadin-grid-column>
            
                    <vaadin-grid-column>
                        <template class="header"><strong>Credit</strong></template>
                        <template class="border">[[addCurrency(item.totalIncoming)]]</template>
                    </vaadin-grid-column>            
                </vaadin-grid>                   
            </template>
  

            <h2 class="centerText">Spend Analyser</h2>
            <template is="dom-if" if="{{!dataAvailable}}">
                <no-data-found></no-data-found>
            </template>
            <template is="dom-if" if="{{dataAvailable}}">
                <barchart-component transactions=[[transactions]]></barchart-component>
            </template>
        </div>
    </template>
    <script>
        class paymentAnalyser extends Polymer.Element{
            static get is(){ return 'payment-analyser'}
            static get properties(){
                return  {
                   spendChart : {},
                   dataAvailable: {
                       type: Boolean
                   },
                   apiUrl: {
                       type: String
                   },
                   transactions: {
                       type:Array
                   },
                   testdata: {
                       type:Array
                   },
                   amount :{
                       type: Number
                   },
                   custId : {
                       type:String
                   },
                   activated: {
                        type: Boolean,
                        observer: '_activationChanged'
                    }
                }
            }

            _activationChanged(newVal, oldVal){
                if(newVal){
                    this._getTransactionData();  
                }
	        }
            
            //Increment by 1 to index in dom-repeat
            displayIndex(index){
                return index + 1;
            }            
            
            // _checkAvailability(transactions){
            //     return transactions.length ? true : false;
            // }

            // Add currency
            // Add currency
            addCurrency(amount){
                return '$' + amount;
            }

            //Get transaction data ffrom API
            _getTransactionData(){

                try{
                    this.custId = JSON.parse(sessionStorage.user).customerId;
                }
                catch(e){
                    console.log('Error getting data from SessionStorage -->' + e)
                }

                let ajax = this.$.analyser;
                //ajax.url = "src/data/analyser.json";
                ajax.url = "http://localhost:8080/user/"+this.custId+"/transactionsummary";
                ajax.generateRequest(); //trigger the iron-ajax                
            }

            //Store the response 
            _handleResponse(event,request){
                this.testdata = request.response.data;
                this.testdata.forEach(function(el) {
                    el.Ccolor = "#ff6600";
                    el.Dcolor = "#42417a";
                })
                this.transactions = this.testdata;
                let dataAvailable = this.testdata.length ? true : false;
                // console.log(dataAvailable);
                this.set('dataAvailable', dataAvailable)
            }           
        };
        window.customElements.define(paymentAnalyser.is,paymentAnalyser);
    </script>
</dom-module>