<!--Component for sub header to show the information of page and user-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="common-styles.html">

<dom-module id="sub-header">
   <template>
        <style include="common-styles">
        .subheader{
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 8.33%;
                margin-right: 8.33%;
                margin-bottom: 50px;
        }
        
        </style>
         <app-location route="{{route}}"></app-location>
          <div class="subheader">
              <!--<template is="dom-if" if="{{isLoggedIn}}">-->
         <span class="floatLeft fntFamily fontBold"> {{route.path}}</span>
         <span class="floatRight fntFamily fontBold"> Welcome, {{userName}} </span>
        
              <!--</template>-->
                 </div>
       
    </template>
    <script>
        class SubHeader extends Polymer.Element  {
             static get is() { return 'sub-header' }
                static get properties(){
                return {
                     userName  : {
                        type        : String,
                    },
                    path:{
                        type: String
                    },
                    route:{
                        type:Object
                    }
                }
            }
               ready() {
            super.ready();
            Polymer.RenderStatus.afterNextRender(this, function() {
            if(sessionStorage.getItem('user')){
            let userName = JSON.parse(sessionStorage.getItem('user'))["name"]
            this.set('userName',userName);
            this.userName = JSON.parse(sessionStorage.getItem('user'))["name"]
            }
            })
        }
        }

        

        window.customElements.define('sub-header',SubHeader);
    </script>
</dom-module>