
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="api-config">
    <script>
        class ApiConfig extends Polymer.Element {

            constructor(){
                super();
                // this._updateURLs();
                // setTimeout(()=>{
                    // this._updateURLs();
                    // console.log(this.environment);
                    // console.log(this.rootPath);
                    // console.log(JSON.stringify(this.user));
                // }, 1000);
            }

            static get is(){
                return 'api-config'
            }

            static get properties(){
                return {
                    rootPath    : {
                        type    : String
                    },
                    user        : {
                        type    : Object,
                        observer: '_updateURLs'
                    },
                    environment : {
                        type        : String,
                        computed    : '_defineEnvironment(rootPath)',
                    },
                    prodBaseURL : {
                        type        : String,
                        value       : "http://192.168.43.118:8080"
                    },
                    apiCollection     : {
                        type        : Object,
                        notify      : true,
                        value       : {
                            // "login"         : "",
                            // "payment"       : "",
                            // "transactions"  : "",
                            // "analyser"      : ""  
                        }
                    }
                };
            }

            _defineEnvironment(rootPath) {
                return (rootPath.indexOf('9011') === -1) ? "production" : "development";
            }

            _updateURLs(newUser, oldUser){
                console.log(this.environment)
                let apiCollection = {};
                if(this.environment === "production"){
                    const baseURL    = this.prodBaseURL;
                    const customerId = (this.user) ? this.user.customerId : 0;
                    apiCollection = {
                        "login"         : `${baseURL}/user/login`,
                        "payment"       : `${baseURL}/user/${customerId}/makepayment`,
                        "transactions"  : `${baseURL}/user/${customerId}/transactions`,
                        "analyser"      : `${baseURL}/user/${customerId}/transactionsummary`  
                    }; 
                }
                else{
                    apiCollection = {
                        "login"         : `src/data/login-success.json`,
                        "payment"       : `src/data/payment.json`,
                        "transactions"  : `src/data/history.json`,
                        "analyser"      : `src/data/analyser.json`  
                    };
                this.set('apiCollection',apiCollection);
                this.notifyPath('apiCollection.*');
                console.log(this.apiCollection);
                }
            }
        }

        window.customElements.define(ApiConfig.is, ApiConfig);
    </script>
</dom-module>